.provision-section{
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 5px;
    background-color: #C9DFF9;
}

.provision-tnc-section {
    background-color: #C9DFF9;
    justify-content: left;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 10px;
}