apiVersion: apps/v1
kind: Deployment
metadata:
  name: registration-service
spec:
  replicas: 3
  selector:
    matchLabels:
      name: registration-service
  template:
    metadata:
      labels:
        name: registration-service
        run: registration-service
    spec:
      serviceAccountName: registration-service
      containers:
      - name: registration-service
        # Replace this with the built image name
        image: REPLACE_IMAGE
        ports:
          - containerPort: 8080
        command:
        - registration-service
        imagePullPolicy: IfNotPresent
        env:
          - name: REGISTRATION_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
---
apiVersion: v1
kind: Service
metadata:
  name: registration-service
  labels:
    run: registration-service
spec:
  ports:
    - name: "8080"
      protocol: TCP
      port: 80
      targetPort: 8080
      nodePort: 31000
  selector:
    run: registration-service
  type: NodePort
  sessionAffinity: null
---
apiVersion: v1
kind: Route
metadata:
  labels:
    run: registration-service
  name: registration-service
spec:
  host: ''
  port:
    targetPort: "8080"
  to:
    kind: Service
    name: registration-service
    weight: 100
  wildcardPolicy: None