kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: registration-service
rules:
- apiGroups:
  - toolchain.dev.openshift.com
  resources:
  - usersignups
  verbs:
  - create
  - get
- apiGroups:
  - toolchain.dev.openshift.com
  resources:
    - masteruserrecords
  verbs:
    - get
